@use "colors.scss";

.flexCol {
    display: flex;
    flex-direction: column;
}
.flexRow {
    display: flex;
    flex-direction: row;
}

.label {
    font-family: monospace;
    font-size: 18px;
    color: colors.$VerydarkCyan;
    font-weight: bold;
    
}
.form {
    font-family: monospace;
    font-size: 24px;
    font-weight: 700;
}


body {
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: colors.$LightgrayishCyan;

    img {
        margin-top: 25%;
        margin-bottom: 10%;
    }

    main {
        width: 100%;
        border-radius: 20px;
        align-items: center;
        background-color: colors.$White;

        label {
            width: 85%;
            padding-top: 2%;
            margin-top: 2%;
        }
        
        .editableInput {
            text-align: right;
            background-color: colors.$VerylightGrayishCyan;  
        }

        input {
            padding-top: 2%;
            width: 85%;
            border: none;
            border-radius: 5px;
            background-color: colors.$VerylightGrayishCyan;
            color: colors.$VerydarkCyan;
        }
        
        .valueBtnContainer {
            flex-wrap: wrap;
            justify-content: space-between;
            width: 85%;
            
            
            
            .valueBtn {
                margin: 2% 0%;
                padding: 2%;
                width: 45%;
                background-color: colors.$VerydarkCyan;
                color: colors.$VerylightGrayishCyan;
            }
            
            #customBtn {
                max-width: 40%;
            }  
            
        }
  
      

    #resultSection {
        width: 85%;
        padding: 5%;
        border-radius: 15px;
        background-color: colors.$VerydarkCyan;
        
        .flexRow {
            justify-content: space-between;
            .flexCol {
                border: 1px solid red;
                width: 50%;
                label {
                    color: red;
                    height: 50%;
                }
                p {
                    height: 50%;
                    color: yellow;
                }
            }

            
            .resultInput {
                border: 1px solid red;
                width: 50%;
                height: 100%;
                
                background-color: colors.$VerydarkCyan;
                color: colors.$LightgrayishCyan;
                
            }
        }
    }
    }
}
